################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NascodeInternalFinal/FileContentIndex/15837520-e3ed-4333-9145-e24f4a9ff4f2.vsidx
/.vs/NascodeInternalFinal/FileContentIndex/88fb6978-9ecb-4a9b-94b5-6186aefdee3f.vsidx
/.vs/NascodeInternalFinal/v17/.wsuo
/.vs/NascodeInternalFinal/FileContentIndex/7e1314bd-3527-47be-9644-388c04597246.vsidx
/.vs/NascodeInternalFinal/FileContentIndex/3eecf9de-cbe9-478e-bed0-c8827961e223.vsidx
/.vs/NascodeInternalFinal/FileContentIndex/b2451c13-221e-4706-95b3-ea8fcbbd2047.vsidx
/.vs/NascodeInternalFinal/FileContentIndex/444684a3-f29c-46ae-a0db-9ab045d934bd.vsidx
/.vs/NascodeInternalFinal/FileContentIndex/41b483d4-76eb-46e0-a7c4-0dc5681b418d.vsidx
/.vs/NascodeInternalFinal/FileContentIndex/b5091dad-7c0b-4d6d-9ca4-6cf07f471107.vsidx
/.vs/NascodeInternalFinal/FileContentIndex
/.vs/slnx.sqlite
*.vsidx
/NascodeERP/.vs/NascodeERP/DesignTimeBuild/.dtbcache.v2
/NascodeERP/NascodeERP.Server/obj/Debug/net8.0/spa.proxy.json
/NascodeERP/NascodeERP.Server/obj/Debug/net8.0/NascodeERP.Server.csproj.AssemblyReference.cache
/NascodeERP/NascodeERP.Server/bin/Debug/net8.0/NascodeERP.Server.dll
/NascodeERP/NascodeERP.Server/bin/Debug/net8.0/NascodeERP.Server.exe
/NascodeERP/NascodeERP.Server/bin/Debug/net8.0/NascodeERP.Server.pdb
/NascodeERP/NascodeERP.Server/obj/Debug/net8.0/apphost.exe
/NascodeERP/NascodeERP.Server/obj/Debug/net8.0/NascodeERP.Server.AssemblyInfo.cs
/NascodeERP/NascodeERP.Server/obj/Debug/net8.0/NascodeERP.Server.AssemblyInfoInputs.cache
/NascodeERP/NascodeERP.Server/obj/Debug/net8.0/NascodeERP.Server.dll
/NascodeERP/NascodeERP.Server/obj/Debug/net8.0/NascodeERP.Server.pdb
/NascodeERP/NascodeERP.Server/obj/Debug/net8.0/NascodeERP.Server.sourcelink.json
/NascodeERP/NascodeERP.Server/obj/Debug/net8.0/ref/NascodeERP.Server.dll
/NascodeERP/.vs/NascodeERP/v17/.suo
/NascodeERP/NascodeERP.Server/obj/Debug/net8.0/refint/NascodeERP.Server.dll
/NascodeERP/.vs/NascodeERP/v17/.futdcache.v2
/NascodeERP/.vs/ProjectEvaluation/nascodeerp.metadata.v7.bin
/NascodeERP/.vs/ProjectEvaluation/nascodeerp.projects.v7.bin
/NascodeERP/NascodeERP.Server/obj/NascodeERP.Server.csproj.nuget.dgspec.json
/NascodeERP/NascodeERP.Server/obj/project.assets.json
/NascodeERP/NascodeERP.Server/obj/project.nuget.cache
/NascodeERP/NascodeERP.Server/DynamicImages/ProfileImages
/NascodeERP/NascodeERP.Server/obj/Debug/net8.0/NascodeERP.Server.assets.cache
/NascodeERP/NascodeERP.Server/obj/NascodeERP.Server.csproj.nuget.g.targets
/NascodeERP/.vs/NascodeERP/v17/fileList.bin
/NascodeERP/.vs/NascodeERP/v17/HierarchyCache.v1.txt
/NascodeERP/NascodeERP.Server/DynamicImages/pagesimages
/NascodeERP/NascodeERP.Server/test
