
<div class="NormalDiv">
  <div class="PageContainer">
    <div class=" u-width100 display-flex justify-space-between">
      <div class="PageTitle">Profile</div>
      <app-icon-button class="floatL mg-bt-10-970" IconSource="../../assets/images/ic_edit_black.svg" (click)="onEditCLick()" *ngIf="ViewMode == 'View'"></app-icon-button>

    </div>

    <div class="u-ht-xs-20"></div>
    <div class="TableContainer u-mb-xs-20 ">

      <div class="TableBody u-width100 ">
        <div class="Section width100 u-padding20 ">
          <div class="u-table u-width100 ">
            <div class="u-tableCell u-width100 ">
              <div class="floatL col-xs-12 col-md-6 col-lg-4  u-mb-xs-20">
                <div class="InputTitle">Fullname</div>
                <div [ngClass]="{'InputError': requiredFullname}">
                  <input class="Input u-mb-xs-10" type="text" [disabled]="Disabled"
                         [(ngModel)]="Data.fullName"
                         name="FullName" #FullName="ngModel"
                         maxlength="150">
                  </div>
                </div>

                <div class="floatL col-xs-12 col-md-6 col-lg-4  u-mb-xs-20">
                  <div class="InputTitle">UserId</div>
                  <input class="Input u-mb-xs-10" type="text" disabled="Disabled" [value]="Data.userID" maxlength="255">
                </div>
                <div class="floatL col-xs-12 col-md-6 col-lg-4  u-mb-xs-20">
                  <div class="InputTitle">Mobile</div>
                  <div [ngClass]="{'InputError': requiredMobile}">
                    <input class="Input u-mb-xs-10" type="text" [disabled]="Disabled" [(ngModel)]="Data.mobile"
                           name="Mobile" #subject="ngModel" maxlength="15">
                  </div>
                </div>
                <div class="floatL col-xs-12 col-md-6 col-lg-4  u-mb-xs-20">
                  <div class="InputTitle">Email</div>
                  <input class="Input u-mb-xs-10" type="text" disabled="Disabled" [value]="Data.email" maxlength="255">
                </div>
              </div>
          </div>


        </div>

      </div>

    </div>

    <div class="BottomActionsContainer" *ngIf="ViewMode == 'Edit'">
      <div class="NormalDiv justify-end">
        <button class="floatR u-mr-xs-20  GlobalButton IWantAMouseOVerNowBut75 " (click)="save()">Save</button>
        <app-icon-title-button class="floatL" Title="Cancel" (click)="onCancel()" BackgroundColor="transparent" TextColor="#3F3F3F"></app-icon-title-button>

      </div>
    </div>


  </div>
</div>





