
<div class="NormalDiv">
  <div class="PageContainer">
    <div class=" u-width100 display-flex justify-space-between">
      <div class="PageTitle">Profile</div>
     
    </div>

    <div class="u-ht-xs-20"></div>
    <div class="TableContainer u-mb-xs-20 ">

      <div class="TableBody u-width100 ">
        <div class="Section width100 u-padding20 ">
          <div class="u-table">
            <div class="u-tableCell">
              <div class="floatL col-xs-6 col-md-6 col-lg-6  u-mb-xs-20">
                <div class="InputTitle">Fullname</div>
                {{ Data.fullName }}
              </div>

              <div class="floatL col-xs-6 col-md-6 col-lg-6  u-mb-xs-20">
                <div class="InputTitle">UserId</div>
                {{ Data.userID }}
              </div>
              <div class="floatL col-xs-6 col-md-6 col-lg-6  u-mb-xs-20">
                <div class="InputTitle">Mobile</div>
                {{ Data.mobile }}
              </div>
              <div class="floatL col-xs-6 col-md-6 col-lg-6  u-mb-xs-20">
                <div class="InputTitle">Email</div>
                {{ Data.email }}
              </div>
              <div class="floatL col-xs-6 col-md-6 col-lg-6  u-mb-xs-20">
                <div class="InputTitle">Group Name</div>
                {{ Data.groupName }}
              </div>
            </div>
          </div>


        </div>

      </div>

    </div>


    

  </div>
</div>





