<div class="NormalDiv">
  <div class="PageContainer">
    <div class="PageTitle">Offices</div>
    <div class="u-ht-xs-20"></div>
    <div class="TableContainer">
      <div class="TableHeader u-width100">
        <div class="TableTitle floatL display-flex-center">
          <div class="ic_back IWantAMouseOVerNowBut75 u-mr-xs-10" *ngIf="ViewMode != 'Items'" (click)="goback()"></div>
          {{ViewMode}}
        </div>
        <div class="floatR">
          <!--<app-icon-button class="floatL u-mr-xs-20" IconSource="../../assets/images/ic_print_black.svg" (click)="onCLickbutton()"></app-icon-button>
          <app-icon-button class="floatL u-mr-xs-20" IconSource="../../assets/images/ic_export_black.svg" (click)="onCLickbutton()"></app-icon-button>
          <app-icon-button class="floatL u-mr-xs-20" IconSource="../../assets/images/ic_grid_black.svg" (click)="onCLickbutton()"></app-icon-button>
          <app-icon-button class="floatL u-mr-xs-20" IconSource="../../assets/images/ic_list_black.svg" (click)="onCLickbutton()"></app-icon-button>
          <app-icon-button class="floatL u-mr-xs-20" IconSource="../../assets/images/ic_edit_black.svg" (click)="onCLickbutton()"></app-icon-button>
          <app-icon-button class="floatL u-mr-xs-20" BackgroundColor="#F9E9EF" IconSource="../../assets/images/ic_delete_red.svg" (click)="onCLickbutton()"></app-icon-button>-->
          <app-icon-button class="floatL u-mr-xs-20" IconSource="../../assets/images/ic_filter_black.svg" (click)="onCLickbutton()"></app-icon-button>
          <app-language-button Title="EN" class="floatL u-mr-xs-10"></app-language-button>
          <app-icon-title-button class="floatL" Title="Add new" IconSource="../../assets/images/ic_plus_white.svg" (click)="onCLickbutton()"></app-icon-title-button>

        </div>
      </div>
      <div class="TableBody u-width100">
        <app-data-grid *ngIf="ViewMode == 'Items'"
                       [Headers]="Headers"
                       [Items]="Data"
                       [Pages]="Pages"
                       (checkboxChange)="handleCheckboxChange($event)"
                       (activeToggleChange)="handleactiveToggleChange($event)"
                       (onrowClick)="handleRowCLick($event)"
                       (onsortChange)="handleSortClick($event)"
                       (selectAllChange)="handleSelectAll($event)"
                       (onPageChange)="handlepageChange($event)"
                       (onPageSizeChange)="handlePageSizeChange($event)"></app-data-grid>
        <div class="u-relative" *ngIf="ViewMode == 'Details'">
          <form>
            <div class="u-table u-width100">
              <div class="u-tableCell">

                <div class="Section u-mb-xs-20 floatL width100">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 floatL u-relative u-mb-xs-20">
                    <div class="InputTitle">Record ID</div>
                    <div class="InputError">
                      <input class="Input" type="text">
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 floatL u-relative u-mb-xs-20">
                    <div class="InputTitle">Title</div>
                    <div class="InputError">
                      <input class="Input" type="text">
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 floatL u-relative u-mb-xs-20">
                    <app-drop-down [Data]="TypesDropdownData" Title="Type*" [Error]="true" (onSelectChange)="handleOnSelectChange($event)"></app-drop-down>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 floatL u-relative u-mb-xs-20">
                    <app-multi-select-drop-down [Items]="MultiSelectItems" Title="Category" [Error]="false" (onSelectItemsChange)="handleOnMultiSelectChange($event)"></app-multi-select-drop-down>
                  </div>
                </div>

                <div class="Section u-mb-xs-20 floatL width100">
                  <div class="col-xs-12 floatL u-relative">
                    <div class="InputTitle">Media</div>
                    <app-image-editor SectionName="Cufex_Users"
                                      TagName="txtBackendThumbnail"
                                      Path=""
                                      (onFilesChange)="handleonFilesChange($event)"
                                      [UploadedFiles]="UploadedFiles"></app-image-editor>

                  </div>

                </div>
                <div class="Section u-mb-xs-20 floatL width100 ">
                  <div class="col-xs-12 floatL u-relative u-pb-xs-20">
                    <div class="InputTitle">Description*</div>
                    <ckeditor [(ngModel)]="mycontent"
                              #myckeditor="ngModel"
                              name="myckeditor"
                              required
                              [config]="ckeConfig"
                              debounce="500"
                              (paste)="onPaste($event)"
                              (change)="onChange($event)"
                              >
                    </ckeditor>
                  </div>

                </div>
                <div class="Section u-mb-xs-20 floatL width100">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 floatL u-relative u-mb-xs-20">
                    <div class="InputTitle">Creation date</div>
                    <div class="Desc">7/7/2023 15:41:50</div>
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 floatL u-relative u-mb-xs-20">
                    <div class="InputTitle">Created by</div>
                    <div class="Desc">Administrator</div>
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 floatL u-relative u-mb-xs-20">
                    <div class="InputTitle">Modification date</div>
                    <div class="Desc">06/03/2023 17:40:30</div>
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 floatL u-relative u-mb-xs-20">
                    <div class="InputTitle">Modified by</div>
                    <div class="Desc">Administrator</div>
                  </div>
                </div>

              </div>

            </div>


            <div class="BottomActionsContainer">
              <div class="NormalDiv justify-end">
                <app-icon-title-button class="floatL u-mr-xs-20" Title="Save" (click)="onCLickbutton()" BackgroundColor="#3F3F3F"></app-icon-title-button>
                <app-icon-title-button class="floatL" Title="Cancel" (click)="onCLickbutton()" BackgroundColor="transparent" TextColor="#3F3F3F"></app-icon-title-button>

              </div>

            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
