
<div class="NormalDiv">
  <div class="PageContainer">
    <div class=" u-width100 display-flex justify-space-between">
      <div class="PageTitle">General Settings</div>
      <app-icon-button class="floatL mg-bt-10-970" IconSource="../../assets/images/ic_edit_black.svg" (click)="onEditCLick()" *ngIf="ViewMode == 'View' && PagePermissions.editOpr"></app-icon-button>

    </div>

    <div class="u-ht-xs-20"></div>
    <div class="TableContainer u-mb-xs-20 ">
      
      <div class="TableBody u-width100 ">
        <div class="Section width100 u-padding20 ">
          <div class="u-table">
            <div class="u-tableCell">
              <ng-container *ngFor="let data of Data">
                <div class="floatL col-xs-6 col-md-6 col-lg-6">
                  <div class="InputTitle">{{ data.code }}</div>
                  <input class="Input u-mb-xs-10" type="text" [disabled]="Disabled" [value]="data.value" maxlength="255" (input)="hanldeTextboxInputChange($event, data.code)">
                </div>


              </ng-container>
            </div>
          </div>
        

        </div>

      </div>

    </div>
    

    <div class="BottomActionsContainer" *ngIf="ViewMode == 'Edit'">
      <div class="NormalDiv justify-end">
        <button class="floatR u-mr-xs-20  GlobalButton IWantAMouseOVerNowBut75 " (click)="save()">Save</button>
        <app-icon-title-button class="floatL" Title="Cancel" (click)="onCancel()" BackgroundColor="transparent" TextColor="#3F3F3F"></app-icon-title-button>

      </div>
    </div>

  </div>
</div>





