<div class="FullpageContainer">

  <div class="FiltersContainer" *ngIf="ShowFiltersPopup">
    <div class="display-flex justify-center u-padding20">
      <div class="PageTitle">Filters</div>
      <div class="display-flex">
        <div class="clearbutton u-mr-xs-20 IWantAMouseOVerNowBut75" (click)="clearfilters()">Clear</div>
        <app-icon-button IconSource="../../assets/images/ic_close.svg" (click)="ShowFiltersPopup = !ShowFiltersPopup"></app-icon-button>
      </div>
    </div>
    <div class="FiltersItemslist">
      <div class="u-mb-xs-15">
        <div class="InputTitle">Date From</div>
        <app-date-picker [selectedDate]="fromdate" (onDateChange)="handlefromdatechange($event)"></app-date-picker>
      </div>
      <div class="u-mb-xs-15">
        <div class="InputTitle">Date To</div>
        <app-date-picker [selectedDate]="todate" (onDateChange)="handletodatechange($event)"></app-date-picker>
      </div>
      <div class="u-mb-xs-15">

        <app-multi-select-drop-down Title="Users" [SelectedItems]="SelectedUsersItems" [Items]="MultiSelectUsersItems" (onSelectItemsChange)="handleOnMultiSelectedUsersChange($event)"></app-multi-select-drop-down>
      </div>
      <div class="u-mb-xs-15">

        <app-multi-select-drop-down Title="Operation" [SelectedItems]="SelectedOperationsItems" [Items]="MultiSelectOperationsItems" (onSelectItemsChange)="handleOnMultiSelectOperationTypesChange($event)"></app-multi-select-drop-down>
      </div>
    </div>
  </div>

</div>
<div class="NormalDiv">
  <div class="PageContainer">
    <div class="PageTitle">Audit log</div>
    <div class="u-ht-xs-20"></div>
    <div class="TableContainer">
      <div class="TableHeader u-width100">

        <div class="TableTitle floatL display-flex-center u-pd-tb-13">

          {{ViewMode}} <span *ngIf="ViewMode == 'Items'" class="DescriptionMeduim ColorMyTitleBlack u-pl-xs-10 u-pl-xs-2">{{ HeadMessage}}</span>


        </div>
        <div class="floatR">
          <app-icon-button class="floatL u-ml-xs-20 mg-bt-10-970" *ngIf="ShowFilter" IconSource="../../assets/images/ic_filter.svg" (click)="ShowFiltersPopup = true"></app-icon-button>

          <app-print-button class="floatL u-ml-xs-20 mg-bt-10-970" *ngIf=" PagePermissions.printOpr"></app-print-button>
          <app-export-button class="floatL u-ml-xs-20 mg-bt-10-970" *ngIf=" PagePermissions.exportOpr"></app-export-button>

        </div>
      </div>
      <div class="TableBody u-width100">
        <app-data-grid *ngIf="ViewMode == 'Items'"
                       [Headers]="Headers"
                       [Items]="Data"
                       [Pages]="Pages"
                       [FirstPage]="FirstPage"
                       [LastPage]="LastPage"
                       (checkboxChange)="handleCheckboxChange($event)"
                       (onsortChange)="handleSortClick($event)"
                       (selectAllChange)="handleSelectAll($event)"
                       (onPageChange)="handlepageChange($event)"
                       (onPageSizeChange)="handlePageSizeChange($event)">
        </app-data-grid>


      </div>
    </div>
  </div>
</div>




